body {
  background: #e8ebed;
}

.container {
  width: 1180px;
}

.btn {
  height: 40px;
  line-height: 40px;
  padding: 0 38px;
  text-transform: uppercase;
}

// Header

header {
  background: #fff;
  height: 95px;
  overflow: hidden;
  position: relative;
}

.header_banner {
  background: url("/images/header-banner.png") no-repeat center;
  background-size: cover;
  height: 355px;
  position: relative;

  .logo {
    background: url("/images/logo-large.png") no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    width: 205px;
    height: 60px;
  }

  .user {
    height: 95px;
    line-height: 95px;
    text-transform: uppercase;

    a {
      display: inline-block;
      color: #273339;
    }

    .joinbutton {
      background: #14b7a0;
      color: #c0ece6;
    }

    .loginbutton {
      border: 1px solid #d7d7d7;
    }
  }
}


