body {
  background: #e8ebed;
  min-width: 320px;
  font-size: 13px;
}

a {
  color: #21a393;
  text-decoration: none;
}

.container {
  width: 1180px;
  max-width: 1180px;
}

.btn {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  &.previous {
    border: 1px solid #d7d7d7;
    color: #aeb9bf;
    margin-right: 15px;
    width: 90px;
  }

  &.next {
    background-color: #fff;
    color: #758891;
    width: 90px;
  }

  &.page_number {
    width: 40px;
    margin-right: 13px;
    background: #fff;
    color: #758891;
    border: none;

    &.active {
      background: #f26343;
      color: #fff;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

// Header

header {
  background: #fff;
  height: 95px;
  overflow: hidden;
  position: relative;

  .logo {
    background: url(/images/logo-large.png) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    width: 170px;
    height: 95px;
  }

  .user {
    height: 95px;
    line-height: 95px;
    text-transform: uppercase;

    .hamburger {
      height: 95px;
      padding: 0;

      .hamburger-box {
        height: 12px;
      }
    }

    a {
      display: inline-block;
      color: #273339;
      margin: 0 10px;
    }

    .btn {
      width: 110px;
    }

    .joinbutton {
      background: #14b7a0;
      color: #c0ece6;
    }

    .loginbutton {
      border: 1px solid #d7d7d7;
    }
  }
}

.header_banner {
  background: url("/images/header-banner.png") no-repeat center;
  background-size: cover;
  height: 355px;
  position: relative;
  color: #fff;

  h1 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 44px;
  }

  p {
    font-size: 20px;
  }

  .text {
    padding-top: 75px;
  }
}

// Refine Search Bar

.refine-search {
  display: flex;
  height: 100px;
  line-height: 100px;
  margin-top: -50px;
  text-align: center;

  .columns {
    margin: 0;
  }

  .eight {
    width: 69.333333%;
    background: #14b7a0;
    flex: 1;

    .apply {
      width: 150px;
      background: #2a484f;
      color: #fff;
    }

    select {
      border-radius: 0;
      border: none;
      width: 190px;
      margin: 0 5px;
    }
  }

  .four {
    background: #13ab97;

    .searchbox {
      width: 285px;
      height: 40px;
      margin: 30px auto;
      text-align: center;
      background: #42bcac;
      line-height: 40px;

      input {
        width: 250px;
        float: left;
        height: 40px;
        background: transparent;
        border: transparent;
      }

      .fa-search {
        color: #fff;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
      }
    }
  }
}

// Results

.results {
  overflow: hidden;
  height: 125px;
  line-height: 125px;
}

// Opportunities Section

.opportunities {
  .four {
    width: 31.666667%;
  }

  .column, .columns {
    margin-left: 2%;

    &:first-child {
      margin-left: 0;
    }
  }

  .opportunity {
    height: 490px;
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;

    &.yacht-advert {
      background: url("/images/advert_two.png") no-repeat center;
      background-size: cover;

      .text {
        color: #fff;
        height: auto;
        padding-right: 95px;

        p {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }

    h2 {
      font-size: 26px;
    }

    p {
      margin: 0;
      font-size: 16px;

      span {
        font-weight: bold;
      }
    }

    .image {
      height: 210px;
      width: 100%;
      display: block;

      &.image_one {
        background: url("/images/image_one.png") no-repeat center;
        background-size: cover;
      }

      &.image_two {
        background: url("/images/image_two.png") no-repeat center;
        background-size: cover;
      }

      &.image_three {
        background: url("/images/image_three.png") no-repeat center;
        background-size: cover;
      }

      &.image_four {
        background: url("/images/image_four.png") no-repeat center;
        background-size: cover;
      }

      &.image_five {
        background: url("/images/image_five.png") no-repeat center;
        background-size: cover;
      }

      &.image_six {
        background: url("/images/image_six.png") no-repeat center;
        background-size: cover;
      }

      &.image_seven {
        background: url("/images/image_seven.png") no-repeat center;
        background-size: cover;
      }

      &.image_eight {
        background: url("/images/image_eight.png") no-repeat center;
        background-size: cover;
      }

      &.image_nine {
        background: url("/images/image_nine.png") no-repeat center;
        background-size: cover;
      }
    }

    .text {
      padding: 30px;
      height: 220px;

      .viewall {
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 82%;
        left: 50%;
        margin-left: -41%;
        background-color: #14b7a0;
        color: #effaf9;
      }
    }
  }
}

.page_numbers {
  text-align: center;
  margin: 60px 0;
}

// Advert

.advert {
  background: url("/images/advert.png") no-repeat center;
  background-size: cover;
  width: 730px;
  height: 90px;
  text-align: center;
  display: block;
  text-indent: -99999px;
  margin: auto;
  margin-bottom: 90px;
}

// Footer

.footer_banner {
  background: url("/images/footer-banner.png") no-repeat center;
  background-size: cover;
  padding: 137px;
  position: relative;
  margin-bottom: 80px;
  text-align: center;
  position: relative;

  .text {
    color: #fff;
    text-transform: uppercase;

    h2 {
      font-size: 24px;
    }

    .signup {
      border: 1px solid #fff;
      color: #fff;
      width: 210px;
    }
  }
}

footer {
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 700;
    padding-bottom: 15px;
  }

  li {
    list-style: none;
    margin-bottom: 0.7rem;

    &:hover {
      color: #21a393;
    }
  }

  a {
    color: #222;
  }

  .fa {
    margin-right: 5px;
  }

  .social-media {
    margin-top: 25px;

    .fa {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #d8d8d8;

      &:hover {
        color: #21a393;
      }
    }
  }
}

// Grow CSS

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.03);
}

// Smaller Devices

@media only screen and (max-width: 1180px) {
  header {
    height: auto;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  section,
  footer {
    padding: 10px;
  }

  .header_banner .text {
    text-align: center;
  }

  .refine-search {
    display: block;
    height: auto;

    .eight,.four {
      width: 100%
    }
  }
}

@media only screen and (max-width: 970px) {
  .opportunities .four,
  .opportunity {
      width: 100%;
      margin: 0;
  }
}

// Mobile

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 10px;
  }

  header {
    .user {
      width: 100%;
      display: block;
      text-align: center;

      .btn {
       width: 60px;
      }
    }

    .logo {
      margin-left: 10px;
      height: 75px;
    }
  }

  header .user .navigate {
    display: none
  }

  .header_banner {
    .text {
      padding-top: 20px;
    }
  }

    .refine-search {
      line-height: 55px;
      .eight {
        padding: 0 20px;

      select {
        width: 100%
      }
    }
  }

  .results {
    float: none;
    line-height: 15px;
    text-align: center;
    height: auto;

    p, .buttons {
      float: none;
    }
  }

  .btn.next, .btn.previous {
    width: 35px;
  }

  .btn.page_number {
    width: 23px;
  }

  .advert {
    width: 100%
  }

  .hamburger {
    position: absolute;
    top: -5px;
    right: 20px;
  }

  .footer_banner {
    margin-bottom: 10px;
    padding: 40px;
  }

  footer {
    text-align: center;
    line-height: 0.8em;
  }

  .opportunities .opportunity h2 {
    font-size: 20px;
  }

  .opportunities .opportunity p {
    font-size: 14px;
  }
}
